
        
        
        <div id="layoutSidenav_nav" >
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                
                    <div class="nav">
            
                      
                  
                        <a class="nav-link collapsed" [routerLink]="['/card','paneer']" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                           Paneer
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        
                        <a class="nav-link collapsed" [routerLink]="['/card','bread']" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                         Bread
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      
                      <a class="nav-link collapsed" [routerLink]="['/card','chicken']" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                           Chicken
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      
                      <a class="nav-link collapsed" [routerLink]="['/card','cereals']" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                           Cereals
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      
                  
        
                        <a class="nav-link collapsed" [routerLink]="['/card','desserts']"  data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                             Desserts
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                       
                        <a class="nav-link collapsed" [routerLink]="['/card','main course']"  data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                          Main course
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" [routerLink]="['/card','drink']"  data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                Drink
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                
                                
                                
                            </nav>
                        </div>
                      
                        <a class="nav-link" [routerLink]="['/card','salad']" >
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Salad
                        </a>
                        <a class="nav-link" [routerLink]="['/card','starter']" >
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Starter
                        </a>
                        <a class="nav-link"[routerLink]="['/card','sandwiches']" >
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Sandwiches
                        </a>
                      
                         <a class="nav-link"[routerLink]="['/card','biryani']" >
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Biryani
                         </a>
                        <a class="nav-link"[routerLink]="['/card','snacks']" >
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Snacks
                         </a>
                        <a class="nav-link"[routerLink]="['/card','biscuits and cookies']" >
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Biscuits and Cookies
                    </a>
                    
                </div>
                
            </nav>
        </div>
        